body {
  background-color: #141515;
  color: white;
}
/* single movie */
.single-movie-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(
      270deg,
      rgba(164, 164, 164, 0.13) 0%,
      rgba(0, 0, 0, 0.8883928571428571) 50%,
      rgba(0, 0, 0, 1) 65%
    ),
    url("https://occ-0-1723-92.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABfHVUAAEhu-G5QHH31CutuqX0wBfTK4nzyJXSyUkXm13Stw-yFpmeMzfTkBcmlsWu_CHM-JNr2d2sjncwPLkqG968JMe.jpg?r=321");
  height: 600px;
  background-size: cover;
  color: white;
  padding: 30px;
  align-items: flex-start;
}
.single-movie-info {
  width: 40%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.single-movie-info h2.single-movie-title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 4rem;
}
.single-movie-info small.single-movie-year {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment-form {
  margin-top: 6rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-form h4 {
  text-align: center;
}

/* footer */
.footer-icon {
  margin-right: 1rem;
  display: inline-block;
}
footer {
  color: #808080;
  font-size: small;
}
footer a:link {
  color: #9e9e9e;
  text-decoration: none;
}
footer a:hover {
  color: #c4c4c4;
}
footer a:visited {
  color: #9e9e9e;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
